<section class="sidebar">
    <div class="folder">
        <div class="folder__item-global">
            <div class="folder__item__content">
                <div class="folder__item__content__body">
                    <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                    <p class="folder__item__name">Example</p>
                </div>
            </div>
            
            <div class="folder__item">
                <div class="folder__item__content">
                    <div class="folder__item__content__body">
                        <div class="folder__item__connector-left">
                            <div class="mask"></div>
                        </div>
                        <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                        <p class="folder__item__name">Example</p>
                    </div>
                </div>

                <div class="folder__item">
                    <div class="folder__item__content">
                        <div class="folder__item__content__body">
                            <div class="folder__item__connector-left">
                                <div class="mask"></div>
                            </div>
                            <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                            <p class="folder__item__name">Example</p>
                        </div>
                    </div>
                </div>

                <div class="folder__item">
                    <div class="folder__item__content">
                        <div class="folder__item__content__body">
                            <div class="folder__item__connector-left">
                                <div class="mask"></div>
                            </div>
                            <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                            <p class="folder__item__name">Example</p>
                        </div>
                    </div>

                    <div class="folder__item">
                        <div class="folder__item__content">
                            <div class="folder__item__content__body">
                                <div class="folder__item__connector-left">
                                    <div class="mask"></div>
                                </div>
                                <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                                <p class="folder__item__name">Example</p>
                            </div>
                        </div>
                        <div class="folder__item">
                            <div class="folder__item__content">
                                <div class="folder__item__content__body">
                                    <div class="folder__item__connector-left">
                                        <div class="mask"></div>
                                    </div>
                                    <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                                    <p class="folder__item__name">Example</p>
                                </div>
                            </div>
                            <div class="folder__item">
                                <div class="folder__item__content">
                                    <div class="folder__item__content__body">
                                        <div class="folder__item__connector-left">
                                            <div class="mask"></div>
                                        </div>
                                        <img class="img-folder" src="assets/images/Folder.svg" alt="folder">
                                        <p class="folder__item__name">Example</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>